<h1 class="text-center">{{pageTitle}}</h1>
<p> Date : {{toDate | date}} </p>

<table class="table table-bordered">
    <tr class="bg-primary">
        <th>ID</th>
        <th>Name</th>
        <th>UserName</th>
        <th>Email</th>
    </tr>

    <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
    </tr>
</table>

<!-- <div>
    <p>{{childData}}</p>
    <app-child2 (notify)="parentMethod($event)"></app-child2>
</div><br><br> -->

<div>
    <ul class="pagination justify-content-center">
        <li class="prev page-item"><a class="page-link" routerLink="/contact">Previous</a></li>
        <li class="page-item"><a class="page-link" routerLink="">1</a></li>
        <li class="page-item " ><a class="page-link" routerLink="/blog">2</a></li>
        <li class="page-item "><a class="page-link" href="http://localhost:4200/about">3</a></li>
        <li class="page-item "><a class="page-link" routerLink="/contact">4</a></li>
        <li class="page-item "><a class="page-link" routerLink="/users">5</a></li>
        <li class="page-item "><a class="page-link" routerLink="/ourteam">6</a></li>
        <li class=" next page-item"><a class="page-link" routerLink="/ourteam">Next</a></li>
    </ul>

</div>