<div class="container mt-5 mb-5">
    <h1>RG Photography Blog</h1>
    <h3>About Us</h3>
    <img src="https://pas-wordpress-media.s3.amazonaws.com/content/uploads/2014/07/08132212/bigstock-Travel-Photographer-Taking-A-P-302170048-min-653x300.jpg" width="100%">
    
    <div class="video1">
        <iframe  width="560" height="315" src="https://www.youtube.com/embed/Gr8Qz709ydQ" title="YouTube video player" frameborder="0" allow="accelerometer; picture-in-picture" allowfullscreen ></iframe>
    </div>
    

    
    
    

    <p>RG Photography Blog is an Indian online travel company founded in 2000. Headquartered in Gurugram, Haryana, the company provides online travel services including flight tickets, domestic and international holiday packages, hotel reservations, rail, and bus tickets. As of 31 March 2018, they have 14 company-owned travel stores in 14 cities, over 30 franchisee-owned travel stores in 28 cities, and counters in four major airports in India.RG Tourism has offices in New York, Singapore, Kuala Lumpur, Phuket, Bangkok, and Dubai.</p>
    <p>Established in 2000, RG Photography Blog has since positioned itself as one of the leading companies, providing great offers, competitive airfares, exclusive discounts, and a seamless online booking experience to many of its customers. The experience of booking your flight tickets, hotel stay, and holiday package through our desktop site or mobile app can be done with complete ease and no hassles at all. We also deliver amazing offers, such as Instant Discounts, Fare Calendar, MyRewardsProgram, MyWallet, and many more while updating them from time to time to better suit our customers’ evolving needs and demands.</p>
    <p>You can find the best of deals and cheap air tickets to any place you want by booking your tickets on our website or app. Being India’s leading website for hotel, flight, and holiday bookings, RG Tourism helps you book flight tickets that are affordable and customized to your convenience. With customer satisfaction being our ultimate goal, we also have a 24/7 dedicated helpline to cater to our customer’s queries and concerns. Serving over 5 million happy customers, we at RG Tourism are glad to fulfill the dreams of folks who need a quick and easy means to find air tickets. You can get a hold of the cheapest flight of your choice today while also enjoying the other available options for your travel needs with us.</p>


</div>

<div>
    <ul class="pagination justify-content-center">
        <li class="prev page-item"><a class="page-link" routerLink="/blog">Previous</a></li>
        <li class="page-item"><a class="page-link" routerLink="">1</a></li>
        <li class="page-item " ><a class="page-link" routerLink="/blog">2</a></li>
        <li class="page-item "><a class="page-link" href="http://localhost:4200/about">3</a></li>
        <li class="page-item "><a class="page-link" routerLink="/contact">4</a></li>
        <li class="page-item "><a class="page-link" routerLink="/users">5</a></li>
        <li class="page-item "><a class="page-link" routerLink="/ourteam">6</a></li>
        <li class=" next page-item"><a class="page-link" routerLink="/contact">Next</a></li>
    </ul>

</div>